/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: orange; color: #fff; text-shadow: none; }
::selection { background: orange; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Johannes Bechberger based on work of Robert Häcker
   ========================================================================== */

/*font-family: 'Voltaire',
'Josefin Sans':400,700,600,400italic,300, 
'Just Me Again Down Here' */

h1, h2, h3, h4, h5, h6, .navbar {
    font-family: 'Josefin Sans', Helvetica;
}
.item input, .item textarea, .alert-info, .item-content {
    font-family: 'Voltaire'
}
/*input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],*/
.item input, textarea {
    width: 100%;
    resize: none;
    box-shadow: none;
    border: none;
    background-color: whiteSmoke;
    transition: background-color linear 0.3s;
}
.item input {
    font-size: 15px;
    line-height: 16px;
    height: 25px;
}
.item input:hover, textarea:hover, .item input:focus, textarea:focus {
    box-shadow: none;
    border: none;
}
.item input:focus, textarea:focus {
    background-color: white;
}
.item input:invalid {
    background-color: rgba(255, 0, 0, 0.12);
}
textarea {
    height: 150px;
}
.item hr {
    background-color: rgba(204, 204, 204, 0.65);
    margin-bottom: 10px;
    border: none;
}
.item-footer {
    margin-bottom: -5px;
}
button {
    font-family: 'Josefin Sans';
}
/*.brand {
        font-weight: 400;
}*/
.navbar-fixed-top .sign-icon {
    font-weight: 300;
    color: #999;
    font-size: 32px;
    text-align: center;
    line-height: 7px;
    margin-top: -30px;
}
.navbar-fixed-top .btn-navbar {
    padding: 7px 7px;
    padding-top: 0px;
}
.item-header, .item-footer {
    font-family: 'Josefin Sans';
}
.popover {
    border-top-width: 1px;
}

@media (max-width: 979px){
    body {
        margin-top: -25px;
    }
}	

.lead, footer {
    font-family: 'Just Me Again Down Here';
}
table {
    font-family: 'Josefin Sans';
}
.item-content form {
    border: none;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    background: none;
}
.item-content, .item-content select {
    font-family: 'Voltaire';
    font-size: 13px;
}
.icon {
    height: 1em;
    margin-bottom: 0.2em;
}
#drop_area {
    color: #999999;
    height: auto;
    width: 100%;
    text-align: center;
}
#drop_area p {
    margin-top: 25px;
    margin-bottom: 25px;
}
#drop_area p span {
    font-size: 2em;
}
#drop_area img {
    max-width: 100%;
}
.item-send .descr {
    height: 100px;
}

.subhead input, .subhead input:focus {
    font-size: 23px;
    font-family: 'Voltaire', 'Helvetica';
    line-height: 27px;
    background: none;
    border: none;
    width: 100%;
    height: 35px;
    box-shadow: none;
}

.sidebar .well {
    /*padding: 0px;*/
    font-family: 'Voltaire';
}
.sidebar .well .nav-header {
    font-size: 20px;
    font-family: 'Josefin Sans';
    margin-bottom: 20px;
}
.sidebar .well .nav-list li a {
    /*margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px !important;*/
    display: inline !important;
}
.sidebar .well .nav-list a:hover {
    background: none;
}
.sidebar .well .nav-list li {
    margin-bottom: 10px;
    padding-left: 25px;
}
.sidebar .timediff {
    font-family: 'Josefin Sans';
    margin-left: -25px;
}
/*.item-send .item-footer button[type=""] {
        float: left;
}*/
.item-footer .progress {
    width: auto;
    margin-left: 30%;
}
.item-footer .progress .bar {
    text-align: left;
    padding-left: 5%;
}

.go_up .icon {
    position: fixed;
    bottom: 1%;
    right: 1%;
    height: 40px;
    opacity: 0.2;
}	
.go_up .icon:hover {
    opacity: 0.6;
}

.pref_table {
    width: 100%;
}
.pref_table .left_column, .pref_table .right_column {
    width: 50%;
}


/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

/*@media (min-width: 600px) {
    .brand, .subnav {
        font-family: 'Fredericka the Great', cursive;
    }
}*/

/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}
