/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: orange; color: #fff; text-shadow: none; }
::selection { background: orange; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #00e; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* JWYIWYG editor `/
/*div.wysiwyg { border: 1px solid #999; padding: 0; background: #fff url('../img/jwysiwyg/jquery.wysiwyg.bg.png') repeat-x top; }*/
div.wysiwyg * { margin: 0; padding: 0; }

div.wysiwyg ul.toolbar li.jwysiwyg-custom-command { overflow: hidden; }

div.wysiwyg ul.toolbar { border-bottom: 1px solid #ccc; float: left; width: 100%; padding: 0; }
div.wysiwyg ul.toolbar li { list-style: none; float: left; margin: 1px 2px 3px 0;  background: rgb(240, 240, 240); -moz-user-select: none; -webkit-user-select: none; user-select: none; clear: none; padding: 0 }
div.wysiwyg ul.toolbar li.separator { background: none; width: 1px; height: 20px; margin: 0 4px 0px 5px; border: none; border-left: 1px solid #ccc; }
div.wysiwyg ul.toolbar li { text-indent: -5000px; display: block; width: 18px; height: 18px; background: url('../img/jwysiwyg/jquery.wysiwyg.gif') no-repeat -640px -800px; border: 1px solid transparent; cursor: pointer; margin: 0px; }
div.wysiwyg ul.toolbar li.wysiwyg-button-hover, div.wysiwyg ul.toolbar li.active { background-color: #DDD; border: 1px solid transparent; }
div.wysiwyg ul.toolbar li.active { background-color: rgb(255, 255, 64); border: 1px solid rgb(208, 208, 208); border-left-color: #aaa; border-top-color: #aaa; height: 18px; width: 18px; padding: -1px 0 0 -1px; margin: 0; }

div.wysiwyg ul.toolbar li.disabled, div.wysiwyg ul.toolbar li.wysiwyg-button-hover.disabled, div.wysiwyg ul.toolbar li.active.disabled { opacity: 0.5; filter:alpha(opacity=50); border: 0px none transparent; padding: 1px; cursor: auto; }


div.wysiwyg ul.toolbar li.bold { background-position: -1px -15px; }
div.wysiwyg ul.toolbar li.italic { background-position: -18px -15px; }
div.wysiwyg ul.toolbar li.strikeThrough { background-position: -36px -15px; }
div.wysiwyg ul.toolbar li.underline { background-position: -55px -15px; }
div.wysiwyg ul.toolbar li.highlight { background-position: -48px -96px; }

div.wysiwyg ul.toolbar li.justifyLeft { background-position: 0 2px; }
div.wysiwyg ul.toolbar li.justifyCenter { background-position: -18px 2px; }
div.wysiwyg ul.toolbar li.justifyRight { background-position: -36px 2px; }
div.wysiwyg ul.toolbar li.justifyFull { background-position: -55px 2px; }

div.wysiwyg ul.toolbar li.indent { background-position: -74px 1px; }
div.wysiwyg ul.toolbar li.outdent { background-position: -92px 1px; }

div.wysiwyg ul.toolbar li.subscript { background-position: -74px -15px; }
div.wysiwyg ul.toolbar li.superscript { background-position: -92px -15px; }

div.wysiwyg ul.toolbar li.undo { background-position: 0px -68px; }
div.wysiwyg ul.toolbar li.redo { background-position: -18px -69px; }

div.wysiwyg ul.toolbar li.insertOrderedList { background-position: -36px -49px; }
div.wysiwyg ul.toolbar li.insertUnorderedList { background-position: -19px -49px; }
div.wysiwyg ul.toolbar li.insertHorizontalRule { background-position: 0 -49px; }

div.wysiwyg ul.toolbar li.h1 { background-position: 0px -31px; }
div.wysiwyg ul.toolbar li.h2 { background-position: -18px -31px; }
div.wysiwyg ul.toolbar li.h3 { background-position: -36px -31px; }
div.wysiwyg ul.toolbar li.h4 { background-position: -55px -31px; }
div.wysiwyg ul.toolbar li.h5 { background-position: -74px -31px; }
div.wysiwyg ul.toolbar li.h6 { background-position: -92px -31px; }

div.wysiwyg ul.toolbar li.paragraph { background-position: 0px -106px; }
div.wysiwyg ul.toolbar li.colorpicker { background-position: -18px -106px; }
div.wysiwyg ul.toolbar li.fullscreen { background-position: -36px -106px; }

div.wysiwyg ul.toolbar li.cut { background-position: -36px -68px; }
div.wysiwyg ul.toolbar li.copy { background-position: -55px -68px; }
div.wysiwyg ul.toolbar li.paste { background-position: -74px -68px; }
div.wysiwyg ul.toolbar li.insertTable { background-position: -74px -49px; }

div.wysiwyg ul.toolbar li.increaseFontSize { background-position: -18px -87px; }
div.wysiwyg ul.toolbar li.decreaseFontSize { background-position: -36px -87px; }

div.wysiwyg ul.toolbar li.createLink { background-position: -92px -48px; }
div.wysiwyg ul.toolbar li.unLink { background-position: -74px -87px; }
div.wysiwyg ul.toolbar li.insertImage { background-position: -92px -87px; }

div.wysiwyg ul.toolbar li.html { background-position: -55px -49px; }
div.wysiwyg ul.toolbar li.removeFormat { background-position: -92px -68px; }

div.wysiwyg ul.toolbar li.empty { background-position: -73px -86px; }

div.wysiwyg ul.toolbar li.code { background-position: -74px -106px; }
div.wysiwyg ul.toolbar li.cssWrap { background-position: -92px -106px; }

div.wysiwyg-dialogRow { float:left; width:100%; font-size: 16px; }

div.wysiwyg iframe { clear: left;
                     background-color:white; padding:0px; margin:0; display:block; width: 100%; }

/* dialog */
.wysiwyg-dialog { position:fixed; top:50px; left:50px; width:450px; height:300px; background:transparent; font:14px; }
.wysiwyg-dialog .wysiwyg-dialog-topbar { background:#333; border:1px #111 solid; color:white; padding:10px; position:relative; }
.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-close-wrapper .wysiwyg-dialog-close-button { color:white; text-decoration:none; display:block; padding:6px 10px; position:absolute; right:12px; top:50%; height:14px; margin-top:-12px; }
.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-close-wrapper a.wysiwyg-dialog-close-button:hover { background:#666; }
.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-title { font-size:20px; font-weight:bold; padding:5px; }
.wysiwyg-dialog .wysiwyg-dialog-content { border:1px #ccc solid; border-top:0; padding:15px; background:white; }
.wysiwyg-dialog-modal-div { position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:rgb(255,255,255); background-color:rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}
.wysiwyg-dialog-content form.wysiwyg fieldset { border:1px #ccc solid; }
.wysiwyg-dialog-content form.wysiwyg legend { padding:7px; }
.wysiwyg-dialog-content form.wysiwyg .form-row { clear:both; padding:4px 0; }
.wysiwyg-dialog-content form.wysiwyg .form-row label, .wysiwyg-dialog form.wysiwyg .form-row .form-row-key { display:block; float:left; width:35%; text-align:right; padding:4px 5px; }
.wysiwyg-dialog-content form.wysiwyg .form-row .form-row-value { display:block; float:left; width:55%; }
.wysiwyg-dialog-content form.wysiwyg .form-row input.width-auto { width:auto; }
.wysiwyg-dialog-content form.wysiwyg input.width-small { width:50px; min-width:50px; max-width:50px; }
.wysiwyg-dialog-content form.wysiwyg input, .wysiwyg-dialog form.wysiwyg select { padding:2px; width:100%; margin:2px; }
.wysiwyg-dialog-content form.wysiwyg input[type=submit], .wysiwyg-dialog form.wysiwyg input[type=reset] { padding:2px 7px; width:auto; }

/* ===== Primary Styles ========================================================
   Author: Johannes Bechberger
   ========================================================================== */

/*font-family: 'Voltaire',
'PT Sans':400,700,600,400italic,300, 
'Just Me Again Down Here' */

h1, h2, h3, h4, h5, h6, .navbar {
    font-family: 'Josefin Sans', Helvetica;
}
.item input, .item textarea, .alert-info, .item-content {
    font-family: 'PT Sans'
}
/*input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],*/
.item input:not([type="checkbox"]), textarea {
    width: 100%;
}
.item input, textarea, .log_container input {
    resize: none;
    box-shadow: none;
    border: none;
    background-color: whiteSmoke;
    transition: background-color linear 0.3s;
}
.log_container input {
    width: calc(100% - 20px) !important;
    margin-left: 10px;
    background-color: white;
}
.log_container input:focus {
    background-color: whiteSmoke;
}
.item input, .item label {
    font-size: 15px;
    line-height: 16px;
    height: 25px;
}
.item input[type="checkbox"] {
    float: left;
}
.item label {
    margin-left: 30px;
    line-height: 30px;
}
.item input:hover, textarea:hover, .item input:focus, textarea:focus {
    box-shadow: none;
    border: none;
}
.item input:focus, textarea:focus {
    background-color: white;
}
.item input:invalid {
    background-color: rgba(255, 0, 0, 0.12);
}
textarea {
    height: 150px;
}
.item hr {
    background-color: rgba(204, 204, 204, 0.65);
    margin-bottom: 10px;
    border: none;
}
.item-footer {
    margin-bottom: -5px;
}
button {
    font-family: 'PT Sans';
}
/*.brand {
        font-weight: 400;
}*/
.navbar-fixed-top .sign-icon {
    font-weight: 300;
    color: #999;
    font-size: 32px;
    text-align: center;
    line-height: 7px;
    margin-top: -30px;
}
.navbar-fixed-top .btn-navbar {
    padding: 10px 7px 0;
}
.item-header, .item-footer {
    font-family: 'PT Sans';
}
.popover {
    border-top-width: 1px;
}

@media (max-width: 979px){
    body {
        margin-top: -25px;
    }
}	

.lead, footer {
    font-family: 'Just Me Again Down Here';
}
table {
    font-family: 'PT Sans';
}
.item-content form {
    border: none;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    background: none;
}
.item-content, .item-content select {
    font-family: 'PT Sans';
    font-size: 13px;
}
.icon {
    height: 1em;
    margin-bottom: 0.2em;
}
#drop_area {
    color: #999999;
    height: auto;
    width: 100%;
    text-align: center;
}
#drop_area p {
    margin-top: 25px;
    margin-bottom: 25px;
}
#drop_area p span {
    font-size: 2em;
}
#drop_area img {
    max-width: 100%;
}
.item-send .descr {
    height: 100px;
}

.subhead input, .subhead input:focus {
    font-size: 23px;
    font-family: 'PT Sans','Helvetica';
    line-height: 27px;
    background: none repeat scroll 0% 0% transparent;
    border: medium none;
    width: calc(100% - 9px);
    height: 27px;
    box-shadow: none;
}

.sidebar .well {
    /*padding: 0px;*/
    font-family: 'PT Sans';
}
.sidebar .well .nav-header {
    font-size: 20px;
    font-family: 'PT Sans';
    margin-bottom: 20px;
}
.sidebar .well .nav-list li a {
    /*margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px !important;*/
    display: inline !important;
}
.sidebar .well .nav-list a:hover {
    background: none;
}
.sidebar .well .nav-list li {
    margin-bottom: 10px;
    padding-left: 25px;
}
.sidebar .timediff {
    font-family: 'PT Sans';
    margin-left: -25px;
}
/*.item-send .item-footer button[type=""] {
        float: left;
}*/
.item-footer .progress {
    width: auto;
    display: none;
    width: 70%;
    float: right;
    margin-top: -1.4em;
}
.item-footer .progress .bar {
    text-align: left;
    padding-left: 5%;
}

.go_up .icon {
    position: fixed;
    bottom: 1%;
    right: 1%;
    height: 40px;
    opacity: 0.2;
    z-index: 10;
}	
.go_up .icon:hover {
    opacity: 0.6;
}

.pref_table {
    width: 100%;
}
.pref_table .left_column {
    width: 30%;
}
.pref_table .right_column {
    width: 70%;
}

.notified_as_bad .item-content, .notified_as_bad hr {
    visibility: hidden;
    display: none;
}
.notified_as_bad:hover .item-content, .notified_as_bad:hover hr {
    visibility: visible;
    display: block;
}
.item-footer .notify {
    background-image: url(../img/icons/disapprove.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.5em !important;
    margin-left: 30px;
    padding: 0.7em;
    width: 0.9em !important;
}
.notified_as_bad .notify {
    background-image: url(../img/icons/approve.svg);
    background-size: cover;
}

.write_comment textarea {
    height: 50px;
}

.star {
    color: gray;
    cursor: pointer;
}
.stars .selected {
    color: gold;
}
.item-footer ul {
    list-style: none outside none;
    margin-left: -55px;
    margin-right: -50px;
    width: 120%;
}
.item-footer li {
    float: left;
    margin-top: -12px;
    vertical-align: middle;
    float: left;
}
.item-footer .time_span_li {
    width: auto;
} 
.item-footer .rating_li {
    margin-left: 5%;
    width: 20%;
    text-align: right;
    margin-right: 5%;
}
.item-footer .user_span_li {
    width: 180px !important;
    float: left !important;
    margin-left: -20px !important;
}
.item-footer .icon {  
    height: 0.75em;
    margin-bottom: 0.35em;
}
.item-footer .delete_span_li button {
    width: auto;
    text-align: right;
    margin-left: -10px;
    margin-top: -6px;
}
.item-quote-send textarea, .item-rumor-send textarea {
    height: 55px;
    margin-bottom: -5px;
}
.content-item .item-content p {
    font-size: 1.21em;
}
.content-item {
    text-align: justify !important;
}
.content-item .item-header {
    float: left;
    margin-top: -15px;
}

.userlist {
    list-style: none;
}

.responses {
    margin-left: 15%;
}
.responses input[name=person], .responses .item-header, .responses .item-quote-send hr {
    display: none;
}
.response_to_item button {
    margin-top: -6px;
}

.list_header {
    margin-top: 1em;
    font-size: 1.05em;
    font-weight: 600;
}
#log {
    width: 100%;
    max-height: 33%;
    z-index: 5;
    position: fixed;
    bottom: 0px;
    background: white;
    overflow-y: scroll;
}
#log_container {
    max-width: 1000px;
    text-align: left;
}

.header-icon {
    float: left;
}
.fort {
    height: 1.2em;
}
.newspaper {
    height: 1.7em;
}


.tile {
    background-color: #F5F5F5;
    color: #333333;
    font-size: 2em;
    height: 2em;
    margin-bottom: 0.5em;
}
.tile .sub {
    font-size: 0.5em;
}

.del_item icon {
    cursor: pointer;
}

.imagelist .item-content a {
    text-align: center;    
}

#drop-image-area .hide_when_unused {
    display: none;
}

.poll_answer {
    font-size: 1.1em !important;
}

.nav-list ul {
    list-style: none;
    margin-left: -2em;
}

div[type="text/x-handlebars-template"] {
    display: none;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

/*@media (min-width: 600px) {
    .brand, .subnav {
        font-family: 'Fredericka the Great', cursive;
    }
}*/

@media (max-width: 767px) {
    .with_sidebar {
        width: 100% !important;
    }
}

/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
    * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* h5bp.com/t */
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}
